<div class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img class="first-slide" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQYVwFXAKj/AZWJhf/78wMA39D0AAYlEQDrBOsAFwYRAAAXGgABoaCH/+7k+QDex/YA3/jqAPYJ9wBHOz8A9gAFAAHOzrn/3dbhANbB5QD9H/8AytXaABYQFAD0+QMAoMkncTB5GTgAAAAASUVORK5CYII=" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Юбилейные, ретроспективные книги,<br> подарочные издания</h1>
                    <br>
                    <p><a class="btn btn-lg btn-primary" href="/call_application" role="button">Позвоните мне</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-lg btn-primary" href="/application" role="button">Отправить заявку</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-12" id="about">
            <p>Мы будем рады оказать помощь и содействие в осуществлении Ваших издательских проектов. Обладая богатым опытом и большими возможностями, наша компания выпускает для организаций и частных лиц следующие виды изданий "под ключ":
                <ul>
                    <li>Юбилейные книги или брошюры предприятий и частных лиц</li>
                    <li>Ретроспективные книги, брошюры о предприятиях</li>
                    <li>Автобиографии, мемуары</li>
                    <li>Подарочные издания по индивидуальному заказу</li>
                </ul>
            </p>
            <p>Сильной стороной нашей работы считаем следование классическим стандартам качественной подготовки текста любой сложности. Весь комплекс работ выполняется с высокой степенью креативности и с учетом всех пожеланий Заказчика.</p>
            <p>Мы обеспечиваем Заказчику комплекс следующих работ, необходимых для подготовки изданий:
                <ul>
                    <li>проработка концепции издания</li>
                    <li>проведение интервью и фотосессий</li>
                    <li>сбор архивных материалов</li>
                    <li>написание текстов</li>
                    <li>специальное и литературное редактирование</li>
                    <li>корректорская вычитка текста</li>
                    <li>художественное оформление изданий</li>
                    <li>верстка</li>
                    <li>подготовка оригинал-макета издания к выводу на печатную машину в типографии в соответствии с официальными требованиями</li>
                    <li>качественное полиграфическое исполнение</li>
                    <li>прорабатываем издания практически любого формата в твердом или мягком переплете, любой степени сложности верстки, отпечатанные с использованием современных полиграфических материалов по </li>выбору заказчика
                    <li>подготавливаем подарочное оформление (изготовление суперобложек, кожаных переплетов, подарочной упаковки)</li>
                    <li>осуществляем доставку тиража.</li>
                </ul>
            </p>
        </div>
    </div>
</div>