<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Подготовка и печать подарочных изданий.  Создание художественной концепции проекта, рубрикатора, эскизов оформления, подготовка текстовых, иллюстративных материалов, обработка архивных материалов, редактура, корректура, верстка, издательский пакет, оригинал-макет.">
    <meta name="author" content="Ivan Kalinin">
    <link rel="icon" href="img/favicon.ico">
    <title>Юбилейные книги | Отправить заявку</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="img/logo.png" alt="" width="95" height="50"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li class="active"><a href="">Отправить заявку</a></li>
                    <li><a href="/call_application">Позвоните мне</a></li>
                    <li><a href="/about">Наши услуги</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
                <p class="navbar-text navbar-right" style="color: white;">+7 (800) 301-24-14</p>
            </div>
        </div>
    </nav>
    <div class="carousel slide" id="application-slider">
        <div class="carousel-inner">
            <div class="item active">
                <img class="first-slide" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQYVwFXAKj/AZWJhf/78wMA39D0AAYlEQDrBOsAFwYRAAAXGgABoaCH/+7k+QDex/YA3/jqAPYJ9wBHOz8A9gAFAAHOzrn/3dbhANbB5QD9H/8AytXaABYQFAD0+QMAoMkncTB5GTgAAAAASUVORK5CYII=" alt="First slide">
            </div>
        </div>
    </div>
    <div class="container marketing">
        <div class="row">
            <div class="col-md-9">
                <form role="form" class="form-horizontal" id="application-form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Тип издания</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="book_type">
                                <option value="Книга (издание объёмом более 48 страниц и, как правило, с твёрдым переплётом)">Книга (издание объёмом более 48 страниц и, как правило, с твёрдым переплётом)</option>
                                <option value="Брошюра (издание объемом свыше 4, но не более 48 страниц, обычно без твёрдого переплёта, в обложке)">Брошюра (издание объемом свыше 4, но не более 48 страниц, обычно без твёрдого переплёта, в обложке)</option>
                                <option value="Каталог (информация о товарах или услугах фирмы с использованием красочных фотографий, детального описания продукта и цены)">Каталог (информация о товарах или услугах фирмы с использованием красочных фотографий, детального описания продукта и цены)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Объем издания</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" name="volume" min="1" max="100000" placeholder="предполагаемое количество страниц">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Желаемый формат издания</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="book_format">
                                <option value="А4">А4 (210 мм х 297 мм)</option>
                                <option value="А5">А5 (148 мм х 210 мм)</option>
                                <option value="А6">60х90/16 (145 мм х 215 мм)</option>
                                <option value="Другой">Другой</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Фотоиллюстрации, рисунки, графики</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" name="illustrations" style="resize: none;" placeholder="предоставляются заказчиком или готовятся исполнителем"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Текстовые материалы</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" name="texts" style="resize: none;" placeholder="предоставляются заказчиком или готовятся исполнителем"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Тип обложки</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="cover_type">
                                <option value="Переплет">Переплет</option>
                                <option value="Плотная обложка (~250 г/м2)">Плотная обложка (~250 г/м2)</option>
                                <option value="Мягкая обложка (~200 г/м2)">Мягкая обложка (~200 г/м2)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Тип бумаги</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="paper_type">
                                <option value="90-200 гр/м2 (журнальный вариант)">90-200 гр/м2 (журнальный вариант)</option>
                                <option value="250 гр/м2 (плотная бумага)">250 гр/м2 (плотная бумага)</option>
                                <option value="Другая">Другая</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Красочность печати</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="colors_type">
                                <option value="Одноцветная">Одноцветная</option>
                                <option value="Двухцветная">Двухцветная</option>
                                <option value="Полноцветная">Полноцветная</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Тираж</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" name="editions_num" min="1" max="1000000000" placeholder="общее количество экземпляров">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Сроки производства</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="deadline" placeholder="желаемая дата получения тиража">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Дополнительные требования к изданию</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" name="description" style="resize: none;" placeholder="изготовление супер-обложки, кожаного переплёта, подарочной упаковки и др."></textarea>
                        </div>
                    </div>
                    <div class="form-group has-warning">
                        <label class="col-sm-3 control-label">Контактный E-mail<spam style="color:red">*</spam></label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" name="email">
                        </div>
                    </div>
                    <div class="form-group has-warning">
                        <label class="col-sm-3 control-label">Ф.И.О.<spam style="color:red">*</spam></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="form-group has-warning">
                        <label class="col-sm-3 control-label">Контактный телефон<spam style="color:red">*</spam></label>
                        <div class="col-sm-6">
                            <input type="tel" class="form-control" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="button" class="btn btn-primary" id="submit">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <p>Для того чтобы сотрудники издательства смогли дать ответ об условиях заказа, нам необходимо получить минимальные исходные данные об издании, указанные в этой типовой форме. Если Ваше издание обладает какими-либо характеристиками, не описанными в нашей типовой форме, Вы можете изложить их дополнительно.</p>
                <hr>
                <p>В случае отсутствия текстов и иллюстраций у заказчика, мы проводим все необходимые встречи, интервью, фотосессии, сбор архивных материалов. Разрабатываем дизайн и художественное оформление издания. Осуществляем весь комплекс редакционно-издательской подготовки.</p>
            </div>
        </div>
        <hr class="featurette-divider">
        <footer>
            <p class="pull-right"><a href="#"><b>Наверх</b></a></p>
            <p>&copy; 2017 Okay Agency LLC &middot;</p>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script>
    var _0x48dd=["\x63\x6C\x69\x63\x6B","\x73\x65\x72\x69\x61\x6C\x69\x7A\x65\x41\x72\x72\x61\x79","\x23\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E\x2D\x66\x6F\x72\x6D","\x6C\x65\x6E\x67\x74\x68","\x6E\x61\x6D\x65","\x76\x61\x6C\x75\x65","","\x70\x68\x6F\x6E\x65","\x65\x6D\x61\x69\x6C","\u041F\u043E\u0436\u0430\u043B\u0443\u0439\u0441\u0442\u0430\x20\u0443\u043A\u0430\u0436\u0438\u0442\u0435\x20\u0424\x2E\u0418\x2E\u041E\x2C\x20\u043D\u043E\u043C\u0435\u0440\x20\u0442\u0435\u043B\u0435\u0444\u043E\u043D\u0430\x20\u0438\x20\u0430\u0434\u0440\u0435\u0441\x20\u044D\u043B\u0435\u043A\u0442\u0440\u043E\u043D\u043D\u043E\u0439\x20\u043F\u043E\u0447\u0442\u044B\x2E","\x2F\x61\x70\x70\x6C\x69\x63\x61\x74\x69\x6F\x6E","\x65\x72\x72","\x73\x65\x6C\x65\x63\x74\x65\x64","\x72\x65\x6D\x6F\x76\x65\x41\x74\x74\x72","\x63\x68\x65\x63\x6B\x65\x64","\x76\x61\x6C","\x3A\x62\x75\x74\x74\x6F\x6E\x2C\x20\x3A\x73\x75\x62\x6D\x69\x74\x2C\x20\x3A\x72\x65\x73\x65\x74\x2C\x20\x3A\x68\x69\x64\x64\x65\x6E","\x6E\x6F\x74","\x3A\x69\x6E\x70\x75\x74","\u0412\u0430\u0448\u0430\x20\u0437\u0430\u044F\u0432\u043A\u0430\x20\u043D\u0430\x20\u0440\u0430\u0441\u0447\u0451\u0442\x20\u0438\u0437\u0434\u0430\u043D\u0438\u044F\x20\u0431\u044B\u043B\u0430\x20\u043E\u0442\u043F\u0440\u0430\u0432\u043B\u0435\u043D\u0430\x21\x20\u041C\u044B\x20\u0441\u0432\u044F\u0436\u0435\u043C\u0441\u044F\x20\u0441\x20\u0412\u0430\u043C\u0438\x20\u043F\u043E\u0441\u043B\u0435\x20\u0435\u0451\x20\u043E\u0431\u0440\u0430\u0431\u043E\u0442\u043A\u0438\x2E","\u0412\u0432\u0435\u0434\u0438\u0442\u0435\x20\u0434\u0435\u0439\u0441\u0442\u0432\u0438\u0442\u0435\u043B\u044C\u043D\u044B\u0439\x20\u0430\u0434\u0440\u0435\u0441\x20\u044D\u043B\u0435\u043A\u0442\u0440\u043E\u043D\u043D\u043E\u0439\x20\u043F\u043E\u0447\u0442\u044B\x2E","\x70\x6F\x73\x74","\x6F\x6E","\x23\x73\x75\x62\x6D\x69\x74"];$(_0x48dd[23])[_0x48dd[22]](_0x48dd[0],function(){var _0xa22bx1=$(_0x48dd[2])[_0x48dd[1]]();var _0xa22bx2={};for(var _0xa22bx3=0;_0xa22bx3< _0xa22bx1[_0x48dd[3]];++_0xa22bx3){_0xa22bx2[_0xa22bx1[_0xa22bx3][_0x48dd[4]]]= _0xa22bx1[_0xa22bx3][_0x48dd[5]]};if(_0xa22bx2[_0x48dd[4]]== _0x48dd[6]|| _0xa22bx2[_0x48dd[7]]== _0x48dd[6]|| _0xa22bx2[_0x48dd[8]]== _0x48dd[6]){alert(_0x48dd[9])}else {$[_0x48dd[21]](_0x48dd[10],_0xa22bx2,function(_0xa22bx4){if(!_0xa22bx4[_0x48dd[11]]){$(_0x48dd[18],_0x48dd[2])[_0x48dd[17]](_0x48dd[16])[_0x48dd[15]](_0x48dd[6])[_0x48dd[13]](_0x48dd[14])[_0x48dd[13]](_0x48dd[12]);alert(_0x48dd[19])}else {if(_0xa22bx4[_0x48dd[11]]== _0x48dd[8]){alert(_0x48dd[20])}}})}});
    </script>
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39997390 = new Ya.Metrika({ id:39997390, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39997390" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>

</html>
