<div class="carousel slide" id="application-slider">
    <div class="carousel-inner">
        <div class="item active">
            <img class="first-slide" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQYVwFXAKj/AZWJhf/78wMA39D0AAYlEQDrBOsAFwYRAAAXGgABoaCH/+7k+QDex/YA3/jqAPYJ9wBHOz8A9gAFAAHOzrn/3dbhANbB5QD9H/8AytXaABYQFAD0+QMAoMkncTB5GTgAAAAASUVORK5CYII=" alt="First slide">
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-md-9">
            <form role="form" class="form-horizontal" id="application-form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Ваше имя</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Контактный E-mail</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group has-warning">
                    <label class="col-sm-3 control-label">Контактный телефон
                        <spam style="color:red">*</spam>
                    </label>
                    <div class="col-sm-6">
                        <input type="tel" class="form-control" name="phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Текст сообщения</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3" name="message" style="resize: none;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" class="btn btn-primary" id="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>