<div class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img class="first-slide" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAYklEQVQYVwFXAKj/AZWJhf/78wMA39D0AAYlEQDrBOsAFwYRAAAXGgABoaCH/+7k+QDex/YA3/jqAPYJ9wBHOz8A9gAFAAHOzrn/3dbhANbB5QD9H/8AytXaABYQFAD0+QMAoMkncTB5GTgAAAAASUVORK5CYII=" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Юбилейные, ретроспективные книги,<br> подарочные издания</h1>
                    <br>
                    <p><a class="btn btn-lg btn-primary" href="/call_application" role="button">Позвоните мне</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-lg btn-primary" href="/application" role="button">Отправить заявку</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-12" id="about" align="center">
            <p>Мы всегда рады ответить на Ваши вопросы.</p>
            <br>
            <p>
                Телефон: <span class="info">+7 (495) 649-98-19</span>
                <br> Бесплатная линия: <span class="info">+7 (800) 301-24-14</span>
                <br> Эл. почта: <span class="info"><a href="mailto:info@okay-agency.ru?subject=Юбилейные книги">info@okay-agency.ru</a></span>
            </p>
            <br>
            <p>Часы работы наших специалистов: </p>
            <p>Понедельник–пятница - с 9 до 18
                <br> Суббота, воскресенье - выходные</p>
            <br>
            <p>Заказы через сайт принимаются круглосуточно.</p>
            <p>Реквизиты:
                <br>
                <div class="info">ООО «Агентство Окей» / Okay Agency LLC</div>
                <div class="info">ИНН 7727546660</div>
                <div class="info">КПП 772101001</div>
                <div class="info">ОГРН 1057747363079</div>
            </p>
        </div>
    </div>
</div>